{% extends 'base.html.twig' %}

{% block title %}Hello CapRoleController!{% endblock %}

{% block body %}
    <h1>Cap Role List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        {% for cap in caps %}
            <tr>
                <td>{{ cap.email }}</td>
                <td>{{ cap.roles ? cap.roles|json_encode : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found by Users</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>User Role List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found by Users</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
